@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&family=Montserrat:wght@300&family=Open+Sans:ital,wght@1,300&display=swap');

.showcase {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.showcase h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.5em;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 15px;
}

.showcase h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 15px;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--header-primary-color) url('./cover.jpg') no-repeat center center/cover;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-container:after {
  content: '';
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
}

.content {
  z-index: 10;
  color: #fff;
}
