@-webkit-keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.6);
  }
  to {
    -webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.6);
  }
  to {
    -webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
  }
}

@-webkit-keyframes openTop {
  0% {
    -webkit-transform: translatey(-5px) rotate(0deg);
            transform: translatey(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translatey(0px) rotate(0deg);
            transform: translatey(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translatey(0px) rotate(90deg);
            transform: translatey(0px) rotate(90deg);
  }
}

@keyframes openTop {
  0% {
    -webkit-transform: translatey(-5px) rotate(0deg);
            transform: translatey(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translatey(0px) rotate(0deg);
            transform: translatey(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translatey(0px) rotate(90deg);
            transform: translatey(0px) rotate(90deg);
  }
}

@-webkit-keyframes closedTop {
  0% {
    -webkit-transform: translatey(-5px) rotate(0deg);
            transform: translatey(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translatey(0px) rotate(0deg);
            transform: translatey(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translatey(0px) rotate(90deg);
            transform: translatey(0px) rotate(90deg);
  }
}

@keyframes closedTop {
  0% {
    -webkit-transform: translatey(-5px) rotate(0deg);
            transform: translatey(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translatey(0px) rotate(0deg);
            transform: translatey(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translatey(0px) rotate(90deg);
            transform: translatey(0px) rotate(90deg);
  }
}

@-webkit-keyframes openMid {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes openMid {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes closedMid {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes closedMid {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes openBottom {
  0% {
    -webkit-transform: translatey(5px) rotate(0deg);
            transform: translatey(5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translatey(0px) rotate(0deg);
            transform: translatey(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translatey(0px) rotate(90deg);
            transform: translatey(0px) rotate(90deg);
  }
}

@keyframes openBottom {
  0% {
    -webkit-transform: translatey(5px) rotate(0deg);
            transform: translatey(5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translatey(0px) rotate(0deg);
            transform: translatey(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translatey(0px) rotate(90deg);
            transform: translatey(0px) rotate(90deg);
  }
}

@-webkit-keyframes closedBottom {
  0% {
    -webkit-transform: translatey(5px) rotate(0deg);
            transform: translatey(5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translatey(0px) rotate(0deg);
            transform: translatey(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translatey(0px) rotate(90deg);
            transform: translatey(0px) rotate(90deg);
  }
}

@keyframes closedBottom {
  0% {
    -webkit-transform: translatey(5px) rotate(0deg);
            transform: translatey(5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translatey(0px) rotate(0deg);
            transform: translatey(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translatey(0px) rotate(90deg);
            transform: translatey(0px) rotate(90deg);
  }
}
/*# sourceMappingURL=navigation.css.map */