$main-color: gold;
$second-color: tomato;
$third-color: blue;
$fourth-color: black;
$gradiant-color: linear-gradient(-47deg, #8731e8 0%, #ff0057 100%);

$main-font-family: 'Raleway', sans-serif;
$second-font-family: 'Open Sans', sans-serif;
