.segment-mobile {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(180deg, rgba(140, 145, 255, 0.9) 0%, rgba(58, 45, 135, 0.9) 70.83%) !important;
  mix-blend-mode: multiply !important;
}
